{% extends "test.html" %}
{% block body_block %}
<h1 class="mt-5">This index</h1>
<!--<h4 class="border border-danger rounded-pill d-none" style="width: 300px;">이건 어디로 갈까??</h4>-->
<!--<a href="" class="d-sm-none btn btn-danger d-block">위험해!!</a>-->
<!--<a href="" class="btn btn-danger d-block">위험해!!</a>-->

<!--<div class="bg-danger m-3 position-relative" style="width:100px; height:100px">-->
<!--    <div class="bg-primary m-3 position-absolute" style="width:100px; height:100px; top:50px"></div>-->
<!--</div>-->
{% endblock %}